
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(100deg,#ccc,#1A1A1A);;
    height: 100vh;
  }

  #titleList {
  text-decoration: #1A1A1A;
  display: block;
  font-size: 3.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  text-shadow: 2px 2px 15px rgb(176 230 255);
  }
  .cor-btn{
    font-family: "Poppins", sans-serif;
    background-color: #FF5100;
    color: white;
    font-size: 1.0em;
  }

  .cor-btn:hover {
    font-family: "Poppins", sans-serif;
    background-color: #fd8a54;;
    color: #1a1a1a;
}


  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }